!!!
%html
  %head
    %title Hookster: Repudiator
  %body
    %h1 Repudiator: HoneyBadger integration
    %p
      This is quick sample application.  It will take a 'uptime alert' from HoneyBadger, and log it into MongoDB
